/*
    1-comon style
    2-General style
    3-Section
        3.0 Home section
        3.1 Home section
        3.2 About section
        3.3 Portfolio section
        3.4 Service section
        3.5 Prices section 
        3.6 Team section 
        3.7 Blog page
        3.8 Contact section
        3.9 Footer Section
*/

/*1-Comon*/
/*
-container
-overlay
-opacity hover
-section header
-section padding
-hover effect 1 ( left to right)
-hover effect 2 (top to bottom )
*/
.container{
    width:80%;;
    margin:auto;
    display:flex;
}

.overlay{
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.7)
    }

    .hover-opacity{
        transition:opacity 0.8s;/*!!!*/
    }
    .hover-opacity:hover{
        opacity:0.8 ;
    }

.section-header{
    text-align: center;
}
.section-header .section-title{
    font-size: 35px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.line{
    display: block;
    height: 6px;
    width: 50px;
    margin:0px auto 70px auto;
    background-color: #6195ff;   
}

.pd-y{
    padding:120px 0px ;
}

.ltr-effect{
    position: relative;
   
}
.ltr-effect::after{
    content: "";
position: absolute;
width:0%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #333;
transition: width 0.8s;
z-index: -1;
}

.ltr-effect:hover::after{
    width: 100%;
}

.ttb-effect{
    position: relative;
   
}
.ttb-effect::after{
    content: "";
position: absolute;
height:0%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #333;
transition: height 0.5s;
z-index: -1;
}

.ttb-effect:hover::after{
    height: 100%;
}

.about-item:hover .about-item-title{
    color:#fff;
}



/*2-Generale css style*/

*{/*universel selectel*/
margin:0;
padding:0 ;
box-sizing: border-box;/*y3ni ma y5ali margin wl padding yzidou mn 7ajam element*/

}

body{
        font-family: 'Varela Round', sans-serif;
}


h1,h2 h3 h4 h5 h6{
    font-family: montserrat,sans-serif;
}
button{
    font-family:'varela round',sans-serif;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}



/*3-Section Style*/
/*3.0 header section*/

.header{
position: fixed ;
z-index:2 ;
width:100% ;
}
.header .logo{
    width: 40%;
    }

.header .logo img{
    width:20% ;
    margin-top:13px;
}

.header .nav{
    /*display:flex;
    justify-content: space-around;*/
    float: left;
    align-items: center;
}
.header .nav > li{
    display: inline-block;
    
}
.header .nav > li > a{
    display: block;
    color: white;
    padding:30px 14px;
    font-size: 15px;
}
.header .nav > li > a::after,.header .nav >li > a.active::after{
    content:"";
    display:block;
    width:0% ;
    height:3px;
    background-color:#6195ff ;
    margin-top:5px;
    transition:width 0.5s ;

}
.header .nav > li > a.active::after{
    width:100%;
}
.header .nav > li > a:hover::after{
    width:100%;
}
.dropdown-menu{
    position: absolute;
    background-color: #6195ff;
    width: 130px;
    top: 72%;
    left: -50%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s,visibility 0.5s;
}
.dropdown-menu a{
    display: block;
    padding:10px;
    color: #fff;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdown-menu{
    visibility:visible;
    opacity: 1;
}
/*3.1 Home section*/

.home{
    position: relative;
    height:100vh;
    background-image:url(../image/background1.webp) ;
    background-size: cover;
}



.home-content{
position: absolute;
top:50%;
left:50% ;    
transform:translate(-50%,-50%);
text-align:center;
width:65%;
}

.home-content .title{
color:#fff;
text-transform: uppercase;
font-size: 3.5rem;
}

.home .home-desc{
    margin:20px 0px;
    color:#fff ;
    letter-spacing:2px ;/*btba3ed l27rof 3n b3don*/
    line-height:1.5;
}

.home .btn{
    min-width:170px;
    cursor: pointer;
    padding:15px 0px ;
    border:0px ;
    border-radius:5px ;
    font-size: 16px;
    margin-left:25px;
}
.home .btn-start{
    background-color: #fff;
}
.home .btn-learn{
    background-color:#6195ff;
color:#fff;
}



/*3.2 About section*/

.about-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    flex-direction: row;
}

.about-item{
    width: 30%;
    text-align: center;
    padding: 30px 20px;
    border: #e8e8e8 1px solid;
}

.about-item .icon{
color: #6195ff;
margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.8s;
}
.about-item-desc{
    line-height:1.6 ;
    margin-bottom: 10px;
    color: #899;
}

.about-item-link{
    color:#6195ff;
    text-transform: capitalize;
}

/*Portfolio section*/
.portfolio{
    background: #f9f9f9;
}

.portfolio-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap:10px 5% ;
}
.portfolio-item{
    position: relative;
    padding: 20px;
}
.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity  0.6s;
}
.portfolio-item:hover .layer-content{
opacity: 1;
visibility: visible;
}
.portfolio-item:hover  .category,.portfolio-item:hover .layout-content-title,.portfolio-item:hover .layer-content a{
    top: 0px;
}
.layer-info{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.portfolio-item .category{
    color:#6195ff;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;;
    position: relative;
    top: 10px;
    transition:top 0.6s;
}
.layout-content-title{
color: #fff;    
margin-bottom: 10px;
font-size: 30px;
position: relative;
    top: 10px;
    transition:top 0.6s;
}
.layer-content a{
    color: #fff;
    position: relative;
    top: 10px;
    transition:top 0.6s;
}
.layer-content a i{
    display: inline-block;
    line-height: 40px;
    background: #6195ff;
width: 40px;
height: 40px;
}

.portfolio-item img{
    width:100%;
}

/*offer-section*/
.offer-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap:25px 5% ;
}
.offer-item{
    position: relative;
    padding:20px 15px 30px 70px;
    border: #e8e8e8 1px solid;
}
.offer-item .icon{
    position: absolute;
top:20px;
left: 15px;
display: inline-block;
color:#6195ff;

}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.8s;
}

.offer-item:hover .offer-item-title{
    color: #fff;
}
.offer-item-desc{
    line-height:1.6 ;
    margin-bottom: 10px;
    color: #899;
    transition: color 0.8s;

}
.offer-item:hover .offer-item-desc{
    color: #fff;
}

/*Service section*/
.services{
    background-color: #f9f9f9;
}
.services-item{
width: 50%;
}

.services-item .section-header{
    text-align: left;
}

.services-item .line{
    margin:0px 0px 40px 0px;
}

.services-item-desc{
    font-size: 17px;
    margin-bottom: 20px;
    color: #999;
    line-height: 1.4;
    padding-right: 20px;
}
.services-item li{
margin-bottom: 10px;
color: #999;

}
.services-item li i {
    width: 30px;
    height: 30px;
    color: #6195ff;
    border:#899 solid 1px;
    border-radius:50%;
    padding: 7px 23px 0px 3px;
}

.services-item .services-item-img img{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 60px
}

.services-item-img{
    width: 80%;
    height: 100%;
    
}
.services-bollets{
    text-align: center;
}
.services-bollets li{
    width: 10px;
    height: 10px;
    background-color:#899;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;

}

.services-bollets li.active{
    background: #6195ff;
}

/*number section*/
.number{
    position: relative;
    background-image: url(../image/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.number-items{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 120px 0px;
}

.number-items .icon{
    color:#6195ff;
    margin-bottom: 15px;
}

.number-item-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2px;
    color:#fff;
}

.number-item-text{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}

/*pricing section*/

.pricing-plans{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.pricing-item{
    width: 30%;
    text-align: center;
    border:#e8e8e8 solid 1px;
    padding: 20px 15px ;
}
.pricing-item-text{
    text-transform: uppercase;
    color:#999;
    font-size: 17px;
    transition: color 0.5s;
}
.pricing-item-permonth{
    border: 3px #6195ff solid;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 30px 0px;
    margin: 20px auto;
    transition: color 0.5s;
}

.pricing-item-permonth .dollar{
font-size: 40px;
font-weight: bold;
}

.pricing-item-permonth .month{
    font-weight: bold;
    display: block;
    margin-top: -5px;
    text-transform: uppercase;
    font-size: 12px;
}

.pricing-liste li{
    color: #999;
    margin-bottom: 20px ;
}

.pricing-item button{
    border:3px #6195ff solid;
    color: #6195ff;
    background: none;
    width: 173px;
    height: 45px;
    cursor: pointer;
    display: block;
    margin: 15px auto 20px auto;
}

.pricing-item:hover .pricing-item-permonth{
    color: #fff;
}
.pricing-item:hover .pricing-item-text{
    color: #6195ff;
}

/*testimonail section*/

.testimonail{
    position: relative;
    background-image: url("../image/background3.webp");
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    
}
.testimonail-content{
    display: flex;
    padding: 120px 0px;

}
.testimonail-content{
  width: 80%;
  margin:0px auto ;  
}
.testimonail-item{
    width: 50%;
    color: #fff;
}
.testimonail-toplayer{
    padding: 10px 2px 40px 100px; 
    position: relative;
}
.testimonail-toplayer img{
    border-radius: 50%;
   position: absolute;
   top: 10px;
   left: 10px;
}

.testimonail-item .testimonail-toplayer h2{
    margin: 5px;
}

.testimonail-item .testimonail-toplayer span{
    color:#6195ff;
}

.testimonail-item-desc{
    line-height: 1.5;
    font-size: 17px;
}

/*team section*/

.team-content{
    display: flex;
    justify-content:space-around;
    width:100%;
}

.team-item{
    width: 30%;
    background-color: #e8e8e8;
    padding:40px 20px;
    text-align: center;
}

.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5) ;
    opacity: 0;
    visibility: hidden;
    transition: opacity visibility 0.5s;
}
.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    margin-left: auto;
}

.team-overlay a i{
    line-height: 40px;
}
.team-item .team-img img{
    width: 100%;
    height: 100%;
}

.team-item .team-info-title{
    color:#222 ;
    margin: 10px;
    transition: color 0.5s;
}
.team-item .team-info-text{
    color:#999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}

.team-item.ttb-effect{
    z-index: 1;
}

.team-item:hover .team-info-title{
    color:#fff;
}
.team-item:hover .team-info-text{
    color: #6195ff;
}


@media screen and (max-width:400px){
    .about-content{
        display: flex;
        justify-content: space-between;
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .about-item{
        width: 80%;
        text-align: center;
        padding: 30px 20px;
        border: #e8e8e8 1px solid;
        margin-bottom: 15px;
    }
    .section-header .section-title{
        font-size: 20px;
    margin-bottom: 10px;
    }
    .container{
        width:60%;;
        margin:auto;
        display:flex;
    }
    
}